<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="warn">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %m%n"/>
        </Console>
        <!--<RollingFile name="RollingFile" fileName="logs/javaDemos.log"
                     filePattern="logs/$${date:yyyy-MM}/javaDemos-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="[%d{yyyy-MM-dd 'at' HH:mm:ss z}] [%-5p] %l - %m%n"/>
            <SizeBasedTriggeringPolicy size="20MB"/>
        </RollingFile>-->
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>