<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context.xsd">

<!--  <bean id="student" name="alias1,alias2" class="org.example.alvin.springexamples.bean.Student" destroy-method="destroyMethod"/>-->

  <bean id="woman" class="org.example.alvin.springexamples.designpattern.Woman" />
  <bean id="sayHiClass" class="org.example.alvin.springexamples.designpattern.SayHiClass">
    <lookup-method name="getPeople" bean="woman" />
  </bean>

  <context:component-scan base-package="org.example.alvin.springexamples" />

  <!--<bean id="factoryBean" class="org.example.alvin.springexamples.bean.factorybean.MyFactoryBean"/>
  <bean id="alvin" factory-bean="factoryBean" factory-method="getObject"/>-->

  <context:property-placeholder location="classpath:application.properties"/>

  <bean id="propertiesBean" class="org.example.alvin.springexamples.bean.PropertiesBean">
    <property name="name" value="${propertiesBean.name}"/>
    <property name="password" value="${propertiesBean.password}"/>
  </bean>

</beans>